@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
}
@Umbraco.RenderMacro("JustifiedImageGallery")
@Umbraco.RenderMacro("Breadcrumb")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @CurrentPage.title
            </h1>
            @Html.Raw(CurrentPage.introduction)
            @CurrentPage.bodyContent

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
        </div>
    </div>
</div>
		
			@Umbraco.RenderMacro("ContactUsCTAFullWidth", new { CTABlock = "1357" })

@section Bottomscripts
{
    <script type="text/javascript">
        $("#justifiedGallery").justifiedGallery({
            rowHeight: 70,
            lastRow: 'hide',
            margins: 1,
            captions: false
        });
    </script>
}