@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
}
@Umbraco.RenderMacro("JustifiedImageGallery")
@Umbraco.RenderMacro("Breadcrumb")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @CurrentPage.pagetitle
            </h1>

            @if (CurrentPage.DocumentTypeAlias == "ContentBlock")
            {
                <em class="gradient-back">
                    @CurrentPage.textBlock
                </em>
            }
            else
            {
                <div class="col-md-3 gradient-back">
                    <em>
                        @Html.Raw(CurrentPage.introduction)
                    </em>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-6">
                    @CurrentPage.bodyContent
                </div>
                <div class="col-md-2">
                </div>
            }



            @Umbraco.RenderMacro("GetSubPages")


        </div>
    </div>
</div>
@section Bottomscripts
{
    <script type="text/javascript">
        $("#justifiedGallery").justifiedGallery({
            rowHeight: 70,
            lastRow: 'hide',
            margins: 1,
            captions: false
        });
    </script>
}