@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using RJP.MultiUrlPicker.Models
@{
    var rootItem = Model.Content.AncestorOrSelf(1);
    var multiUrlPicker = rootItem.GetPropertyValue<MultiUrls>("mainNavigation");
}

@if (Model.MacroParameters["Doormat"] != null)
{
    var thisNode = Umbraco.Content(Model.MacroParameters["Doormat"]);
    var sitemap = Umbraco.Content(Convert.ToInt32(thisNode.sitemap));
    var partnerImage = Umbraco.Media(Convert.ToInt32(thisNode.GetPropertyValue("partner")));

    <div class="midnight-blue footer" id="doormat">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-left">
                    <h3>The Climbing Fish</h3>
                    <p><a href="/" data-target="Home" class="mainNav">Home</a></p>
                    @if (multiUrlPicker.Any())
                    {
                        foreach (var item in multiUrlPicker)
                        {
                            <p> <a href="/#@item.Name" data-target="@item.Name" class="mainNav">@item.Name</a></p>
                        }
                    }
                </div>
        
                <div class="text-left col-md-6" id="SocialBlock">
                    <h3>Contact</h3>
                    @thisNode.adres
                    <i class="icon-phone"></i> @thisNode.phone

                        <br/> <a href="mailto:@thisNode.email"><i class="icon-envelope social"></i> @thisNode.email</a>
                  

                    <h4>
                        Follow us on <span class="social">
                            @if (!string.IsNullOrEmpty(@thisNode.facebook))
                            {
                                <a href="@thisNode.facebook" target="_blank"><i class="icon-facebook"></i></a>

                            }
                            @if (!string.IsNullOrEmpty(@thisNode.twitter))
                            {
                                <a href="@thisNode.twitter" target="_blank"><i class="icon-twitter"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(@thisNode.linkedin))
                            {
                                <a href="@thisNode.linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                            }
                        </span>
                    </h4>

                    <p>
                        <a href="http://www.belgiumismindmapping.com/" target="_blank">
                            <img src="@partnerImage.Url" alt="Belgium is mindmapping" />
                        </a>
                
                        <a href="http://www.belgiumismindmapping.com/" target="_blank">
                            <img src="@partnerImage.Url" alt="Belgium is mindmapping" />
                        </a>
                    </p>
          
                </div>
                <div class="text-left col-md-3" id="Twitter">
                    <a class="twitter-timeline" data-width="2280" data-height="280" data-link-color="#E95F28" 
                       href="https://twitter.com/marinaderoover">Tweets by TwitterDev</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                   
                </div>
                </div>
        </div>
    </div>
}
